{% extends 'base.html' %} 

{% block content %}
<!-- <div class="container">
    <h1>Welcome to <b style="font-size: 10vh;">Matcha</b></h1>
    <br/>
</div> -->


<div class="content-section" id="test">

</div>

<!-- This will be populated by java script -->
<!-- <div class="content-sections">
  {% for post in posts %}
  <article class="media content-section ">
    <img class="article-img rounded"
      src="{{ url_for('static', filename='profile_pics/' + post['author']['image_name']) }}" alt="Profile Pic">
    <div class="media-body">
      <div class="article-metadata border-bottom">
        <a class="mr-2" href="#">{{ post['author']['username'] }}</a>
        <small class="text-muted">{{ post['date_posted'].strftime("%Y-%m-%d") }}</small>
      </div>
      <h2><a class="article-title" href='#'>{{ post['title'] }}</a></h2>
      <p class="article-content">{{ post['content'] }}</p>
    </div>
  </article>
  {% endfor %}
</div> -->
{% endblock content %}

{% block js %}
document.getElementById("test").innerHTML = "This is the java script part"
{% endblock js%}