[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-socketio = "*"
pillow = "*"
bcrypt = "*"
pymongo = "*"
tree = "*"
dnspython = "*"
pylint = "*"
eventlet = "*"
geopy = "*"
faker = "*"
flask-mysqldb = "*"
pymysql = "*"
pytest = "*"

[requires]
python_version = "3.8"
